name: Automatic Semantic Release

on:
  # workflow_dispatch # manual-only for testing
  push:
    branches:
      - main
jobs:
  new-release:
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # Checkout our working repository
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@84dadaf2c367cb52af02737cd9c7e888807219e7 # v6
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          output-file: 'CHANGELOG.md'
          version-file: 'package.json'
      - name: Debug Changelog Outputs
        run: |
          echo "Skipped: ${{ steps.changelog.outputs.skipped }}"
          echo "Tag: ${{ steps.changelog.outputs.tag }}"
          echo "Clean Changelog: ${{ steps.changelog.outputs.clean_changelog }}"
          echo "Outputs Skipped: ${{ steps.changelog.outputs.skipped }}"
      - name: Auto-Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2 # auto create a tag and release
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        with:
          token: ${{ secrets.GH_TOKEN }}
          tag_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          make_latest: true

